@model Negoc.ViewModels.ProductoList
@section Scripts    {
    <script src="~/lib/productoun/productoun.js"></script>
}
@{
    ViewData["Title"] = "Producto";
}

<div style="background-color: whitesmoke;padding:8px;">
        <div class="container-produn">
            <div class="produn-col1">
                <div class="produn-princ">
                    <div class="thumb">
                        <ul class="thumb-ul">
                            @foreach (var item in Model.Imagenes)
                            {
                                <li>
                                    <div class="thumb-img-cont">
                                        <img class="thumb-img" src="/Listar/GetImage/@item.ProdImagenId" onclick="VerImgPrinc(this);" alt="@item.Nombre">
                                    </div>
                                </li>

                            }
                        </ul>
                    </div>
                    <div class="produn-princ-img">
                        <a class="previmg" onclick="moverImg(-1)">&#10094;</a>
                        <a class="nextimg" onclick="moverImg(1)">&#10095;</a>
                        <img src="/Listar/GetImage/@Model.Imagenes.FirstOrDefault().ProdImagenId" onclick="mostrarGal();" alt="..." id="produnImagen">
                    </div>
                </div>
            </div>
            <div class="produn-col1">
                <h6> @Html.DisplayFor(model => model.Marca)</h6>
                <h1>@Html.DisplayFor(model => model.Descripcion)</h1>

                <h4 style="line-height:4rem;">$ @Html.DisplayFor(model => model.Precio)</h4>
                <div>
                    <button class="btn btn-primary" style="width:100%;" onclick="AgregarCarr(this, @Model.ProductoId)">
                        Agregar
                    </button>
                </div>

            </div>
        </div>
        <div class="container-produn">
            <div class="produn-col1">
                <h4 style="line-height:2rem;">Descripcion </h4>
                <p>
                    @Model.Detalle

            </p>
        </div>
        <div class="produn-col1">

        </div>
    </div>

    <div class="container-slide-back ">
        <a class="prev-slide" onclick="mover(-1)">&#10094;</a>
        <a class="next-slide" onclick="mover(1)">&#10095;</a>
        <button type="button" class="cerrar-container-slide close" data-dismiss="modal" aria-label="Close" onclick="cerrarContainer()">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="container-img">
            @foreach (var item in Model.Imagenes)
            {
                <div class="slide inactivo">
                    <img src="/Listar/GetImage/@item.ProdImagenId" alt="...">
                </div>
            }
        </div>
        <div class="dot-div">
            @{int i = 0;}
            @foreach (var item in Model.Imagenes)
            {
                <span class="dot" onclick="IrA(@i)"></span>
                i++;
            }
        </div>
    </div>
</div>
<hr />
<style>
    .mens-ini {
        position: absolute;        
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 2rem;
        opacity:0;
    }
    .mens-centro {
        padding: 2rem;
        border: silver 2px solid;
        border-radius: 4px;
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX( -50%);
        background-color: deepskyblue;
        transition: opacity .7s;
        transition: background-color .7s;
        text-align: center;
    }
    .mens-desap {
        opacity: 0;
        transition: opacity .7s;
        
    }
 
</style>
<script>
    function CarroItem(itemId, prodId, NombreProd, cant, precio, total) {

        this.CarroItemId = itemId;
        this.ProductoId = prodId;
        this.NombreProd = NombreProd;
        this.Cantidad = cant;        
        this.Precio = precio;
        this.Total = total;
    }
    
    function AgregarCarr(e, ProductoId) {

        var key = "Carro";
        var carro = [];
        if (localStorage.getItem(key))
            carro = JSON.parse(localStorage.getItem(key));
        
        var item = new CarroItem(1,ProductoId,'', 1, 0, 0);
        
        carro.push(item);
        localStorage.setItem(key, JSON.stringify(carro));
        
        var div = document.createElement("div");
        div.innerText = "Agregado al carro";        
        
        e.parentElement.appendChild(div);
        div.className = "mens-ini";
        
        var t = document.getElementsByClassName("mens-centro");
        for (var i = 0; i < t.length; t[i++].remove());
                
        setTimeout(() => { div.className = "mens-centro"; }, 10);
        setTimeout(() => { div.className = "mens-centro mens-desap"; }, 800);
        setTimeout(() => { div.remove(); }, 1100);
        
    }

</script>


